<!-- <div class="about"> -->
<!-- <main> -->
<h2>About</h2>
<p> Thank you for visiting and using this app. As a United States Soccer Federation (USSF) certified youth soccer offical working games in the Northern Counties Soccer Association (NCSA) of NJ, and as a member of the Bergen County Soccer Officials Assocation (BCSOA) officating high school games, I have wanted a way to keep a log of games that I have officiated. Furthermore, I wanted a way to keep track of fees earned per game, fees received, fees owed, and total fees earned annually. This app allows referees to do that. 
</p>
<!-- </main> -->
<!-- </div> -->
